<div class="container my-3">
  <div class="header h-50 bg-primary rounded shadow-lg py-3 px-4">
    <ul class="nav justify-content-between">
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/user-dashboard">
          <i class="fas fa-home"></i> Accueil
        </a>
      </li>
      <ng-container *ngIf="authService.isLoggedIn(); else guestLinks">
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/profile">
            <i class="fas fa-user"></i> {{ authService.getUser()?.nom }}
          </a>
        </li>
        <li class="nav-item" *ngIf="authService.isAdmin()">
          <a class="nav-link text-white" routerLink="/admin">
            <i class="fas fa-cog"></i> Admin
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" (click)="logout()">
            <i class="fas fa-sign-out-alt"></i> Déconnexion
          </a>
        </li>
      </ng-container>
      <ng-template #guestLinks>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/register">
            <i class="fas fa-user-plus"></i> Inscription
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/login">
            <i class="fas fa-sign-in-alt"></i> Connexion
          </a>
        </li>
      </ng-template>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-6 mx-auto my-4">
      <!-- Place for messages -->
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
